<?xml version="1.0"?>
<ruleset name="LoadsysTheme">
	<description>Import rules from Loadsys standard.</description>

	<arg value="sp"/>
	<arg name="colors"/>

	<!-- Include CakePHP rules (but don't USE them) and Loadsys rules. -->
	<rule ref="vendor/cakephp/cakephp-codesniffer/CakePHP/ruleset.xml">
		<exclude name="CakePHP"/>
	</rule>
 	<rule ref="vendor/loadsys/loadsys_codesniffer/Loadsys/ruleset.xml" />

	<file>./config</file>
	<file>./src</file>
	<file>./tests</file>
</ruleset>
